$base-spacing-unit: 6px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #3a3e42;
$color-form-highlight: #757d85;

.container {
  max-width: 70vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow-x: scroll;
}

.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
  border-spacing: 1px;
}

thead {
  display: flex;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;
}

tr {
  display: flex;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;
  background: $color-form-highlight;

  &:nth-of-type(odd) {
    background: $color-alpha;
  }
}

td,
th {
  flex: 1 1 20%;
  text-align: center;
  overflow-x: scroll;
  color: white;
}

th {
  text-transform: uppercase;
}

p {
  color: red;
}
